$form-border: 2px solid black;
body {
  background-color: white;
  color: black;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  text-align: center;
}

.customer-form button,
input {
  border: $form-border;
  margin-left: 5.5%;
  margin-bottom: 2%;
}

.customer-item {
  border: $form-border;
  margin: 2% auto;
  p {
    display: inline-block;
    margin-left: 5%;
  }
  button {
    display: inline-block;
    margin-left: 5.5%;
    margin-bottom: 4%;
    border: $form-border;
  }
  .customer-form {
    background-color: pink;
    padding-top: 2.5vh;
    border-top: $form-border;
    border-bottom: $form-border;
    margin-bottom: 4%;
  }
}

.report-item {
  background-color: #a5a5a5;
  border-top: $form-border;
}

.report-form {
  margin-top: 0.5%;
}

.nav-bar {
  width: 100%;
}

.nav-item {
  display: inline-block;
  margin-left: 5%;
}
