body {
  margin: 0;
  padding: 0;
  background: #ccc;
  margin-left: 12%;
  margin-right: 12%;
}

nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

nav a:hover {
  background-color: #d1cfcf;
}

nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

main {
  background-color: #dddbdb
}

#landing {
  height: 1000px;
}

#landing h1, p {
  text-align: center;
}

#landing img {
 display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
}

.customer-form {
  text-align: center;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
  text-align: center;
  display: block;
    margin-left: auto;
    margin-right: auto;
  width: 30%;
}

.dashboard-entry {
  text-align: center;
  display: block;
    margin-left: auto;
    margin-right: auto;
}
// .dashboard {
//   text-align: center;
//   display: block;
//     margin-left: auto;
//     margin-right: auto;
//     width: 30%;
// }

.dashboard input {
  margin: 10px;
}

.dashboard select {
  width: 173px;
  margin: 10px;
}
//
// .dashboard .report-form {
//   display: inline;
// }
//
.dashboard .dateInput {
  margin-left: 50px;
}

.formFieldsWrapper {
  height: 750px;
}

.dashboard .formFields {
  display: inline-table;
  width: 30%;
  height: 740px;
}

.customer-item {
  width: 100%;
}

.report-tracker h1 , .report-tracker p{
    text-align: center;
    display: block;
      margin-left: auto;
      margin-right: auto;
}
@media screen and (min-width: 600px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  nav li {
    display: inline-block;
    margin-right: -4px;
  }


  /* Options 2 - Float
  navli {
    float: left;
  }
  navul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */

}
